//! **************************************************************************
// Written by: Map P.20131013 on Wed Aug 21 22:34:45 2024
//! **************************************************************************

SCHEMATIC START;
COMP "B_SW2_P61" LOCATE = SITE "P61" LEVEL 1;
COMP "C_SW1_P62" LOCATE = SITE "P62" LEVEL 1;
COMP "A_SW3_P59" LOCATE = SITE "P59" LEVEL 1;
COMP "X_L0_P82" LOCATE = SITE "P82" LEVEL 1;
COMP "D_SW0_P66" LOCATE = SITE "P66" LEVEL 1;
SCHEMATIC END;

