NET "OSC" LOC = P123;
NET "SW0" LOC = P66;
NET "SW1" LOC = P62;
NET "SW2" LOC = P61;
NET "SW3" LOC = P59;
NET "SW4" LOC = P58;
NET "SW5" LOC = P57;
NET "SW7" LOC = P55;
NET "DIP7" LOC = P100;
NET "DIP6" LOC = P101;
NET "DIP5" LOC = P102;
NET "DIP4" LOC = P104;
NET "DIP3" LOC = P105;
NET "DIP2" LOC = P111;
NET "DIP8" LOC = P99;
NET "SW6" LOC = P56;
NET "LED0" LOC = P82;
NET "LED1" LOC = P81;
NET "LED4" LOC = P78;
NET "LED5" LOC = P75;
NET "LED3" LOC = P79;
NET "BTN3" LOC = P47;
NET "BTN4" LOC = P48;
NET "MN[7]" LOC = P84;
NET "MN[6]" LOC = P85;
NET "MN[5]" LOC = P87;
NET "MN[4]" LOC = P88;
NET "MN[3]" LOC = P92;
NET "MN[2]" LOC = P93;
NET "MN[1]" LOC = P94;
NET "MN[0]" LOC = P95;
NET "LED2" LOC = P80;
NET "SSD_COM[3]" LOC = P30;
NET "SSD_COM[2]" LOC = P33;
NET "SSD_COM[1]" LOC = P43;
NET "SSD_COM[0]" LOC = P44;
NET "SSD_Segment[6]" LOC = P27;
NET "SSD_Segment[5]" LOC = P29;
NET "SSD_Segment[4]" LOC = P32;
NET "SSD_Segment[3]" LOC = P34;
NET "SSD_Segment[2]" LOC = P35;
NET "SSD_Segment[1]" LOC = P40;
NET "SSD_Segment[0]" LOC = P41;
NET "BTN5" LOC = P51;