NET "OSC" LOC = P123;
NET "BTN1" LOC = P45;
NET "SW[7]" LOC = P55;
NET "SW[6]" LOC = P56;
NET "SW[5]" LOC = P57;
NET "SW[4]" LOC = P58;
NET "SW[3]" LOC = P59;
NET "SW[2]" LOC = P61;
NET "SW[1]" LOC = P62;
NET "SW[0]" LOC = P66;
NET "MN[7]" LOC = P84;
NET "MN[6]" LOC = P85;
NET "MN[5]" LOC = P87;
NET "MN[4]" LOC = P88;
NET "MN[3]" LOC = P92;
NET "MN[2]" LOC = P93;
NET "MN[1]" LOC = P94;
NET "MN[0]" LOC = P95;
NET "LED[7]" LOC = P67;
NET "LED[6]" LOC = P74;
NET "LED[5]" LOC = P75;
NET "LED[4]" LOC = P78;
NET "LED[3]" LOC = P79;
NET "LED[2]" LOC = P80;
NET "LED[1]" LOC = P81;
NET "LED[0]" LOC = P82;
