NET "SW3" LOC = P59;
NET "SW2" LOC = P61;
NET "SW1" LOC = P62;
NET "SW0" LOC = P66;

NET "SSD_a" LOC = P41;
NET "SSD_b" LOC = P40;
NET "SSD_c" LOC = P35;
NET "SSD_d" LOC = P34;
NET "SSD_e" LOC = P32;
NET "SSD_f" LOC = P29;
NET "SSD_g" LOC = P27;

NET "SSD_COM0" LOC = P44;
