//! **************************************************************************
// Written by: Map P.20131013 on Mon Aug 19 01:54:06 2024
//! **************************************************************************

SCHEMATIC START;
COMP "SSD_a" LOCATE = SITE "P41" LEVEL 1;
COMP "SSD_b" LOCATE = SITE "P40" LEVEL 1;
COMP "SSD_c" LOCATE = SITE "P35" LEVEL 1;
COMP "SSD_d" LOCATE = SITE "P34" LEVEL 1;
COMP "SSD_e" LOCATE = SITE "P32" LEVEL 1;
COMP "SSD_f" LOCATE = SITE "P29" LEVEL 1;
COMP "SSD_g" LOCATE = SITE "P27" LEVEL 1;
COMP "SSD_p" LOCATE = SITE "P26" LEVEL 1;
COMP "OSC" LOCATE = SITE "P123" LEVEL 1;
COMP "SW0" LOCATE = SITE "P66" LEVEL 1;
COMP "SW1" LOCATE = SITE "P62" LEVEL 1;
COMP "SW2" LOCATE = SITE "P61" LEVEL 1;
COMP "SW3" LOCATE = SITE "P59" LEVEL 1;
COMP "LED0" LOCATE = SITE "P82" LEVEL 1;
COMP "LED1" LOCATE = SITE "P81" LEVEL 1;
COMP "LED2" LOCATE = SITE "P80" LEVEL 1;
COMP "LED3" LOCATE = SITE "P79" LEVEL 1;
COMP "SSD_COM0" LOCATE = SITE "P44" LEVEL 1;
COMP "SSD_COM1" LOCATE = SITE "P43" LEVEL 1;
COMP "SSD_COM2" LOCATE = SITE "P33" LEVEL 1;
COMP "SSD_COM3" LOCATE = SITE "P30" LEVEL 1;
SCHEMATIC END;

