//! **************************************************************************
// Written by: Map P.20131013 on Mon Aug 05 13:59:25 2024
//! **************************************************************************

SCHEMATIC START;
COMP "LED3_P79" LOCATE = SITE "P79" LEVEL 1;
COMP "LED4_P78" LOCATE = SITE "P78" LEVEL 1;
COMP "LED5_P75" LOCATE = SITE "P75" LEVEL 1;
COMP "LED6_P74" LOCATE = SITE "P74" LEVEL 1;
COMP "LED0_P82" LOCATE = SITE "P82" LEVEL 1;
COMP "LED7_P67" LOCATE = SITE "P67" LEVEL 1;
COMP "LED1_P81" LOCATE = SITE "P81" LEVEL 1;
COMP "OSC_P123" LOCATE = SITE "P123" LEVEL 1;
COMP "LED2_P80" LOCATE = SITE "P80" LEVEL 1;
SCHEMATIC END;

