//! **************************************************************************
// Written by: Map P.20131013 on Mon Aug 05 12:43:55 2024
//! **************************************************************************

SCHEMATIC START;
COMP "SSD_COM_2_P33" LOCATE = SITE "P33" LEVEL 1;
COMP "SW0_P66" LOCATE = SITE "P66" LEVEL 1;
COMP "SSD_F_P29" LOCATE = SITE "P29" LEVEL 1;
COMP "SSD_COM_3_P30" LOCATE = SITE "P30" LEVEL 1;
COMP "SW7_P55" LOCATE = SITE "P55" LEVEL 1;
COMP "SW1_P62" LOCATE = SITE "P62" LEVEL 1;
COMP "SSD_G_P27" LOCATE = SITE "P27" LEVEL 1;
COMP "SSD_A_P41" LOCATE = SITE "P41" LEVEL 1;
COMP "SW2_P61" LOCATE = SITE "P61" LEVEL 1;
COMP "SSD_B_P40" LOCATE = SITE "P40" LEVEL 1;
COMP "SW3_P59" LOCATE = SITE "P59" LEVEL 1;
COMP "SSD_C_P35" LOCATE = SITE "P35" LEVEL 1;
COMP "SW4_P58" LOCATE = SITE "P58" LEVEL 1;
COMP "SSD_COM_0_P44" LOCATE = SITE "P44" LEVEL 1;
COMP "SSD_D_P34" LOCATE = SITE "P34" LEVEL 1;
COMP "SW5_P57" LOCATE = SITE "P57" LEVEL 1;
COMP "SSD_COM_1_P43" LOCATE = SITE "P43" LEVEL 1;
COMP "SSD_E_P32" LOCATE = SITE "P32" LEVEL 1;
COMP "SW6_P56" LOCATE = SITE "P56" LEVEL 1;
SCHEMATIC END;

