
# PlanAhead Generated physical constraints 

NET "SSD_A_P41" LOC = P41;
NET "SSD_B_P40" LOC = P40;
NET "SSD_C_P35" LOC = P35;
NET "SSD_COM_0_P44" LOC = P44;
NET "SSD_COM_1_P43" LOC = P43;
NET "SSD_COM_2_P33" LOC = P33;
NET "SSD_COM_3_P30" LOC = P30;
NET "SSD_D_P34" LOC = P34;
NET "SSD_E_P32" LOC = P32;
NET "SSD_F_P29" LOC = P29;
NET "SSD_G_P27" LOC = P27;
NET "SW0_P66" LOC = P66;
NET "SW1_P62" LOC = P62;
NET "SW2_P61" LOC = P61;
NET "SW3_P59" LOC = P59;
NET "SW4_P58" LOC = P58;
NET "SW5_P57" LOC = P57;
NET "SW6_P56" LOC = P56;
NET "SW7_P55" LOC = P55;
